{% extends "layout.html" %}

{% block title %}
    RawBookReviews Review Added
{% endblock %}
{% block username %} {{user}}{% endblock %}

{% block body %}
   <h2>Successfully logged in.</h2>
    <form action="{{ url_for('search') }}" method="post">
        <div class="form-group">
            <button class="btn btn-primary">Go to search Page.</button>
        </div>
    </form>
    <form action="{{ url_for('showReviews4User') }}" method="post">
        <div class="form-group">
            <button class="btn btn-primary">See the reviews that you've left.</button>
        </div>
    </form>    
{% endblock %}