<!DOCTYPE html>
<html>
    <head>
        <title>Successfully Registered a RawBookReviews Account</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
		    <p>Successfully registered for RawBookReviews, as {{uname}}. Click to return to login page.</p>

		    <form action="{{ url_for('index') }}" method="post">
		        <div class="form-group">
		            <button class="btn btn-primary">Go Back to Login Page</button>
		        </div>
		    </form>
        </div>
    </body>
</html>